In [5]:
my_dict = {
    ("name"): "Subash",
    "age": 25,
    "location": "Chennai"
}

In [ ]:
a.

In [1]:
a = [1,2,3]
print(a)

[1, 2, 3]

In [1]:
4/3

1.3333333333333333

In [2]:
4/2

2.0

In [3]:
5/2

2.5

In [4]:
4/3

1.3333333333333333

In [5]:
4//3

1

In [14]:
#divmod

quotient, remainder = divmod(4,3)

In [15]:
def sub(a,b):
    c = a + b
    return c

In [19]:
c=sub(1,2)

In [20]:
print(c)

3

In [4]:
listarr = [[1,2,3,4],[5,6,7,8]]

In [8]:
a,b=listarr
a.append(b)

In [9]:
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, [5, 6, 7, 8]]

In [ ]:
SHI

In [6]:
while True:
    print("hi")
    break

hi

In [11]:
for char in "abc":
    print(char)

a
b
c

In [ ]:
my_list = ["apple", "banana", "cherry","orange"]

for i in range(len(my_list)):
    print("Index:", i, "Value:", my_list[i])


print(my_list[0:3])  # Output: apple
print(my_list[1])  # Output: banana
print(my_list[2])  # Output: cherry

apple
banana
cherry
orange
['apple', 'banana', 'cherry']
banana
cherry

In [23]:
x =['a','b','c','d']
print(x)

['a', 'b', 'c', 'd']

In [26]:
x[1:]=['e','f']

In [27]:
print(x)

['a', 'e', 'f']

In [3]:
thislist = ["apple", "banana", "cherry"]
thislist[1:3] = "blackcurrant"


print(thislist)

['apple', 'b', 'l', 'a', 'c', 'k', 'c', 'u', 'r', 'r', 'a', 'n', 't']

insert()method

In [ ]:
nums = [10, 20, 30]
nums.insert(0, 5)         # [5, 10, 20, 30]
nums.insert(100, 40)      # [5, 10, 20, 30, 40] — large index appends to end
nums.insert(-1, 25)       # [5, 10, 20, 25, 30, 40] — inserts before last
print(nums)

[5, 10, 20, 30, 25, 40]

In [16]:
fruits = ["apple", "banana"]
fruits.extend(["cherry", "orange"])

print(fruits)  # ['apple', 'banana', 'cherry', 'orange']

['apple', 'banana', 'cherry', 'orange']

In [17]:
fruits.append("kiwi")
print(fruits)

['apple', 'banana', 'cherry', 'orange', 'kiwi']

In [20]:
fruits = ["apple", "banana", "cherry"]
fruits.clear()

print(fruits)  # []

[]

In [21]:
nums = [1, 2, 3, 4, 5, 6]
evens = [n for n in nums if n % 2 == 0]

print(evens)  # [2, 4, 6]

[2, 4, 6]

In [25]:
fruits ='apple'

newlist = {x for x in fruits }

print(newlist)

{'a', 'l', 'e', 'p'}

In [2]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

df = pd.read_csv("\Users\subas\Downloads\2025-05-02 8_06pm.csv")

# 1. Basic Overview
print(df.head())
print(df.info())
print(df.describe())

# 2. Check Missing Values
print(df.isnull().sum())

# 3. Histogram of a Column
sns.histplot(df['age'])
plt.show()

# 4. Boxplot to Check Outliers
sns.boxplot(x=df['salary'])
plt.show()

# 5. Correlation Heatmap
sns.heatmap(df.corr(), annot=True)
plt.show()

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 0-1: truncated \UXXXXXXXX escape (206570696.py, line 5)

In [ ]:
my_list = [1, 2, 3, 4, 5]

In [5]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = [x for x in range(10) if x % 2 == 0]
print(newlist)

[0, 2, 4, 6, 8]

In [2]:
a = [1, 2, 3]
b = [4, 5, 6]
c = a.append(b)
d = a.extend(b)

print(a)
print(b)
print(c)#[[1, 2, 3],[4, 5, 6]]
print(d)# [1,2,3,4,5,6]

[1, 2, 3, [4, 5, 6], 4, 5, 6]
[4, 5, 6]
None
None

In [1]:
a = [1,2,3,4]
b = [7,8,9,0]

a.append(b)

[1, 2, 3, 4, [7, 8, 9, 0]]

In [7]:
c = a.append(0)

In [9]:
print(c)

None

1

In [ ]:
i//2==0